@inject IJSRuntime js

<h1>@Titulo</h1>

@if ( ListaTarefas == null )
{
    <Alerta Mensagem=" Carregando..." TipoMensagem="TipoMensagem.Aviso"></Alerta>
}
else if ( !ListaTarefas.Any() )
{
    <Alerta Mensagem=" Ainda não existem tarefas cadastradas." TipoMensagem="TipoMensagem.Aviso"></Alerta>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Ação</th>
                <th>Data</th>
                <th>Descrição</th>
                <th>Concluída</th>
            </tr>
        </thead>
        <tbody>
            @foreach ( Tarefa item in ListaTarefas )
            {
                <tr>
                    <TarefaIndividual Item="@item" RemoverTarefaIndividual="RemoverTarefa" AlterarEstadoTarefaIndividual="AlterarEstadoTarefa"></TarefaIndividual>
                </tr>
            }
        </tbody>
    </table>
}

@if ( ListaTarefas != null )
{
    <NovaTarefa AdicionarTarefa="AdicionarNovaTarefa" DescricaoNovaTarefa="_novaTarefa"></NovaTarefa>
}

@code {
    private string _novaTarefa = "";

    [Parameter]
    public List<Tarefa> ListaTarefas { get; set; }

    [Parameter]
    public string Titulo { get; set; }

    private static int totalTarefas = 0;

    private async void AdicionarNovaTarefa( string descricaoTarefa )
    {
        if ( !string.IsNullOrEmpty( descricaoTarefa ) )
        {
            ListaTarefas.Add( new Tarefa()
                {
                    DataCriacao = DateTime.Now,
                    Descricao = descricaoTarefa,
                    ID = Guid.NewGuid()
                } );

            _novaTarefa = "";
            totalTarefas = ListaTarefas.Count;

            //await js.InvokeVoidAsync( "getTotalTarefas" );
            await js.InvokeVoidAsync( "getTotalTarefasInstancia", DotNetObjectReference.Create( this ) );
        }

        descricaoTarefa = string.Empty;
    }

    private async Task RemoverTarefa( Tarefa tarefa )
    {
        if ( tarefa == null )
        {
            return;
        }

        if ( tarefa.Concluida )
        {
            return;
        }

        if ( ( ( IJSInProcessRuntime ) js ).Invoke<bool>( "confirm", "Deseja excluir a tarefa?" ) )
        {
            ListaTarefas.Remove( tarefa );
            await js.InvokeAsync<object>( "MostraAlerta", "Tarefa excluída com sucesso!" );
        }
    }

    private void AlterarEstadoTarefa( Tarefa tarefa )
    {
        if ( tarefa == null )
        {
            return;
        }

        tarefa.Concluida = !tarefa.Concluida;
    }

    [JSInvokable]
    public Task<int> ObterTotalTarefasInstancia()
    {
        return Task.FromResult( totalTarefas );
    }

    [JSInvokable]
    public static Task<int> ObterTotalTarefas()
    {
        return Task.FromResult( totalTarefas );
    }
}
