@page "/"

<PageTitle>Index</PageTitle>

<body style="background: @config.CorFundo">
    <h1>Hello, world!</h1>

    Welcome to your new app.

@*    <CascadingValue Value="@_resposta">
        <Pergunta></Pergunta>
    </CascadingValue>*@
</body>

@code {
    [CascadingParameter]
    public Config config { get; set; }
}